{{#each this}}
<li class="cocktail-item">

  <h2>{{strDrink}}</h2>
  <img src="{{strDrinkThumb}}" alt="{{strDrink}}">

  <ul class="ingredients">
    <li class="ingredient-item">{{strIngredient3}}</li>
    <li class="ingredient-item">{{strIngredient2}}</li>
    <li class="ingredient-item">{{strIngredient1}}</li>
    <li class="ingredient-item">{{strIngredient4}}</li>
    <li class="ingredient-item">{{strIngredient5}}</li>
    <li class="ingredient-item">{{strIngredient6}}</li>
    <li class="ingredient-item">{{strIngredient7}}</li>
    <li class="ingredient-item">{{strIngredient8}}</li>
    <li class="ingredient-item">{{strIngredient9}}</li>
    <li class="ingredient-item">{{strIngredient10}}</li>
  </ul>
  <div class="description">
    <p class="cocktail-text">{{strGlass}}</p>
    <p class="cocktail-text">{{strAlcoholic}}</p>
    <p class="cocktail-text">{{strCategory}}</p>
    <p class="cocktail-text">{{strInstructions}}</p>
    <p class="cocktail-text">{{strIBA}}</p>
  </div>
  <a href="https://iba-world.com/">{{strTags}}</a>

</li>
{{/each}}